@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <p>To execute a new task, go <a asp-controller="CurrentProblem" asp-action="NewProblem">here</a></p>
    <p>To view the problem history, go <a asp-controller="CurrentProblem" asp-action="ProblemHistory">here</a></p>
</div>
