@model CurrentProblem
@{
    ViewData["Title"] = "New Problem";
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.18/signalr.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="~/js/matrix-app.module.js"></script>
    <script src="~/js/matrix.controller.js"></script>
}

<div class="container" ng-app="matrixApp" ng-controller="MatrixController">
    <div class="row">
        <div class="col-md-6">
            <h2>Generate Matrix Task</h2>
            <form name="matrixForm" novalidate ng-submit="submitForm()">
                <div>
                    <label for="matrixSize">Enter the matrix size (no more than {{maxMatrixSize}}):</label>
                    <input type="number" id="matrixSize" name="matrixSize" ng-model="matrixSize" min="1" required
                           ng-class="{'is-invalid': matrixForm.matrixSize.$invalid && matrixForm.$submitted}" />
                </div>
                <br />
                <div class="text-danger" ng-show="matrixForm.matrixSize.$error.required && matrixForm.$submitted">
                    Matrix size is required.
                </div>
                <input type="submit" class="btn btn-primary" value="Generate and multiply matrices"
                       ng-disabled="matrixForm.matrixSize.$invalid || matrixSize > maxMatrixSize" />
            </form>
        </div>

        <div class="col-md-6">
            <h2>Task Progress</h2>
            <div ng-if="tasks.length > 0">
                <div ng-repeat="task in tasks track by task.taskId">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <div>
                            Matrix Size: {{task.matrixSize}}, Stage: {{task.stage}}
                            <span ng-if="task.result">, Result: {{task.result}}</span>
                        </div>

                        <div style="display: flex; align-items: center;">
                            <button ng-if="task.stage !== 'Complete'" class="btn btn-danger"
                                    ng-click="cancelTask(task)" ng-disabled="task.cancelling">
                                Cancel
                            </button>

                            <span ng-if="task.stage === 'Complete' || task.stage === 'Cancelled'"
                                  style="margin-left: 10px; cursor: pointer; color: grey;"
                                  ng-click="removeTask(task)">X</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <br />
        <p><a asp-controller="CurrentProblem" asp-action="ProblemHistory">View problem history</a></p>
    </div>
</div>