@model CurrentProblem
@{
    ViewData["Title"] = "New task";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form method="post" asp-controller="CurrentProblem" asp-action="SolveProblem">
        <div>
            <label asp-for="MatrixSize">Enter the matrix size:</label>
            <input asp-for="MatrixSize" />
        </div>
        <input type="submit" class="btn btn-primary" value="Generate and multiply matrices" />
    </form>
</div>
